<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add item to My Shop</title>
    <link rel="stylesheet" href="/additem-styles.css">
</head>
<body>
    <div class="body-head">
        <div class="title">
            <a id="home_link" href="/webshop">My Shop</a>
        </div>
        <div class="login_or_register">
            <div class="login">
                <p>Logged in as admin,</p>
                <a id="logout" href="/webshop">logout</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="div-form">
        <form class="form" action="#" th:action="@{/webshop/add}" th:object="${newshopitem}" method="post">
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" th:field="*{name}" required>
            <label for="description">Description:</label>
            <input id="description" name="description" type="text" th:field="*{description}" required>
            <label for="price">Price:</label>
            <input id="price" name="price" type="text" th:field="*{price}" required>
            <label for="quantity">Quantity:</label>
            <input id="quantity" name="quantity" type="text" th:field="*{quantity}" required>
            <button type="submit">Add</button>
        </form>
    </div>
    <div class="table">
        <table>
            <thead>
            <th width="25%">Name</th>
            <th width="30%">Description</th>
            <th width="30%">Price (€)</th>
            <th width="15%">Quantity of stock</th>
            </thead>
            <tbody>
            <tr th:each="shopitem : ${items}">
                <td th:text="${shopitem.getName()}"></td>
                <td th:text="${shopitem.getDescription()}"></td>
                <td th:text="${shopitem.getPrice()}"></td>
                <td th:text="${shopitem.getQuantity()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
