<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div th:replace="fragments/navigation :: copy"></div>
    <table>
        <thead>
            <th>Index</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
            <th>King</th>
            <th>Side</th>
        </thead>
        <tbody>
            <tr th:each="account : ${accountList}">
                <td th:text="${accountStat.count}"></td>
                <td th:text="${account.name}"></td>
                <td th:text="| ${#numbers.formatDecimal(account.balance, 2, 2, 'POINT')} Zebra|"></td>
                <td th:text="${account.animalType}"></td>
                <td th:text="${account.king}"></td>
                <td>
                    <span th:if="${account.side == false}">Good One</span>
                    <span th:if="${account.side == true}">Bad Guy</span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>