<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
    <div class="links">
        <ul>
            <li><a href="">Information</a></li>
            <li><a href="">Nutrition</a></li>
            <li><a href="">Tricks</a></li>
        </ul>
    </div>
    <div class="fox_image">
        <img src="/img/greenfox.png" alt="greenfox" height="256" width="256">
    </div>
    <div class="fox-infos">
        <p th:text="| This is ${fox.name} Currently living on ${fox.food.name} and ${fox.drink.name} He knows ${fox.trickList.size()} trick(s)|"></p>
    </div>
    <h1>Known tricks</h1>
    <div class="tricklist">
        <lu th:each="trick : ${fox.trickList}">
            <li th:text="${trick}"></li>
        </lu>
    </div>
</body>
</html>