<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="header">
        <h1>Welcome to Programmers Fox Club!</h1></p>
    </div>
    <div class="instruction">
        <p>Please provide a name, so you can associate it to your pet!</p>
    </div>
    <div class="form">
        <form  th:method="post" th:object="${fox}">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" th:field="*{name}" autofocus/>
            <button type="submit">GO</button>
        </form>
    </div>

</body>
</html>