<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
    <link rel="stylesheet" th:href="@{'/styles/' + ${fox.color} + '-style.css'}">
</head>
<body>
    <div th:replace="fragments/navigation :: copy"></div>
    <div class="select-menu">
        <form th:action="@{/nutritionsave}" th:method="post">
            <p>Food
                <select name="food">
                    <option value="Pizza">Pizza</option>
                    <option value="Salad">Salad</option>
                    <option value="Rotten tomato">Rotten tomato</option>
                    <option value="Human Tibia">Human Tibia</option>
                    <option value="Something from the garbage">Something from the garbage</option>
                </select>
                Drink
                <select name="drink">
                    <option value="Beer">Beer</option>
                    <option value="Orange juice">Orange juice</option>
                    <option value="Giant milk">Giant milk</option>
                    <option value="Rain water">Rain water</option>
                    <option value="Tear of virgins">Tear of virgins</option>
                </select>
                <button th:type="submit">Change</button>
        </form>
    </div>
</body>
</html>