<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="/styles/green-style.css">
</head>
<body>
    <div th:fragment="copy" class="navbar">
        <a class="navigation-link" href="/">Information</a>
        <a class="navigation-link" href="/nutritionstore">Nutrition Store</a>
        <a class="navigation-link" href="/trickcenter">Trick Center</a>
        <a class="navigation-link" href="/actionhistory">Action History</a>
        <a th:if="${activeFoxIndex} == 0" href="/login" th:text="Login"></a>
        <a th:if="${activeFoxIndex} != 0" href="/logout"th:text="Logout"></a>
    </div>
</body>
</html>